<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css"> 
    <title>404 Not Found</title>

</head>
<body>

    {{>header}}
    <h1>Sorry this page is not Found Try Another Page</h1>
    
</body>
</html>