<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>

    {{>header}}
    
    <p>{{name}}</p>
    <p>{{mal}}</p>
    <img src="/images/foto.png">
    <button id="button1">Tıkla l</button>

    {{>footer}}
</body>
    <script src="/js/app.js"></script>
</html>

