body {

    margin:0 auto;

}

h1 {
    color: green;
}

img {
    width: 400px;
}

#bbslk {

    width: 600px;

}

div {

    background-color: black;
    display: block;

}

a {
    margin-left: 30px; 
    text-decoration: none;
    color: white;
    font-size: 25px;

}